# vim: filetype=config 

[general]
# In this section, the type of command handler to be used is defined, using the
# handler option. The available handler types are restricted and passthru. The
# restricted handler only allows commands defined in the [commands] section to
# be executed, and the passthru handler just accepts anything you type, throwing
# it at subprocess.Popen and hoping that it sticks.
# Other options that can be set here are pidfile, which details the full path to
# the pidfile where the daemon's pid is stored (defaults to /tmp/xmppmote.pid).
handler: restricted
#pidfile: /var/run/xmppmote.pid

[commands]
# In this section we defined the commands allowed by the restricted section. The
# syntax is "<key>:<command>:[args]:[help]", where <key> is a non-optional,
# arbitary key (should be unique, but its value does not matter), <command> is a
# the actual command to execute, [args] are any (optional) arguments to pass to
# the command, [help] is an optional help string to display upon issuing the
# help command. See the commands defined below for examples.
command1: uptime::List system uptime
command2: df:-h:Show disk usage
command3: pwd::

# NOTE: Remember to define this one if you want to be able to terminate the
#   XMPPMote process via chat.
command4: bye::Terminate XMPPMote

[status]
# In this section, you can enter a command that is to be executed at the given
# interval
command: date
interval: 60

[updates]
# In this section, you configure the software update service. If the action
# option is set to notify, the update model detailed by the model option - valid
# models are stable or bleeding, where stable model compares the version defined
# in version.pu with the version defined in the version.py of the HEAD of
# origin/master,and bleeding compares the local master HEAD SHA key with that of
# the origin/master HEAD SHA key - will be used to check for software updates,
# and indicate an update if one is found. The interval option details the
# interval at which interval the version update check will be performed
# (defaults to an hourly check if unset).
action: notify
model: stable
